* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Navegador*/
.navbar {
  background: #353a40;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.collapse {
  display: flex;
  justify-content: flex-end;
}

.container-fluid {
  margin: 0 30px;
}

@media (max-width: 768px) {
  .collapse {
    display: block;
    text-align: center;
  }
  .container-fluid {
    margin: 0;
  }
  .nav-link,
  .text-succces {
    margin-bottom: 20px;
  }
}

.nav-link {
  color: rgb(173, 173, 173);
}

.nav-link:hover {
  color: white;
}

/*Fondo*/
.header {
  height: 100vh;
  background-image: linear-gradient(
      to right,
      #00000071 0%,
      rgba(0, 0, 0, 0.493) 100%
    ),
    url(/img/ba1.jpg);
  background-size: cover;
  background-position: center;
  padding: 0.1px;
}

.container {
  width: 45%;
  flex-direction: column;
  text-align: right;
  color: white;
  margin-right: 5%;
  margin-top: 20%;
}

.parrafo {
  font-size: 18px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    margin: 40% auto;
    padding: 0 20px;
  }
  .parrafo {
    font-size: 16px;
  }
}
